<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputUsername">Username</label>
                                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" id="inputPassword"
                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="email@example.com">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="InputStreetname">Streetname</label>
                                    <input type="text" class="form-control" id="InputStreetname"
                                        placeholder="Streetname">
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="InputHousenumber">Number</label>
                                    <input type="text" class="form-control" id="InputHousenumber"
                                        placeholder="11b">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity"
                                        placeholder="City">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success" style="float: right;">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>