<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="row">
                <div class="col-md-12">
                    <!-- Add new car button -->
                    <button type="button" class="btn btn-success btn-block" data-toggle="modal"
                        data-target="#newCarModal">
                        Add new car
                    </button>

                    <!-- Pop-up card -->
                    <div class="modal fade" id="newCarModal" tabindex="-1" role="dialog" aria-labelledby="newCarLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="newCarLabel">Adding new car</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                            <div class="form-group col-md-6">
                                                <label for="inputLicense">License Plate</label>
                                                <input type="text" class="form-control" id="inputLicense"
                                                    placeholder="License Plate" [(ngModel)]="licenseplate">
                                            </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-success" (click)="addNewCar()">Add new car</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- List of cars (expandable) -->

                  <div class="card">
                        <div class="card-body">
                            <div class="card-body">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" *ngFor="let cars of AllCars; let x = index">
                                            <div class="card-header card-header-danger" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <h4 class="card-title ">{{cars.carBrand}}  {{cars.carType}}</h4>
                                                <p class="card-category">{{cars.licenseplate}}</p>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                data-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Color</td>
                                                                    <td>{{cars.color}}</td>
                                                                    </tr><tr>
                                                                    <td>Purchase date</td>
                                                                    <td>{{cars.purchaseDate.toLocaleDateString()}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
