<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>

<div id="parent">
    <div id="map"></div>
    <div id="table-info">
        <table class="table">
            <thead>
            <th>RouteId</th>
            <th>Timestamp</th>
            </thead>
            <tbody *ngFor="let y of routes; let x = index">
            <tr>
                <td>{{y[0].routeId}}</td>
                <td>{{y[0].dateTimeStamp}}</td>
                <td>
                    <button type="button" class="btn btn-light btn-sm" (click)="changeMap(y)">Click to show</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

