<ng-container *ngIf="router.url !== '/login'">
    <div *ngIf="router.url !== '/404'">
<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/dashboard">
                        Home
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by Road Pricing Group
        </div>
    </div>
</footer>
    </div>
</ng-container>
