<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">

                                <!-- Billing modal -->
                                <div class="modal fade" id="billingModal" tabindex="-1" role="dialog"
                                    aria-labelledby="billingModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title" id="billingModalLabel">
                                                    {{selectedModalBill.year}} - {{selectedModalBill.month}} - Total: €{{selectedModalBill.totalPrice | number:'1.2-2' }}</h1>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Trip number</th>
                                                            <th scope="col">Trip start time</th>
                                                            <th scope="col">Trip duration</th>
                                                            <th scope="col">Trip price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let trip of selectedModalBill.trips">
                                                            <th scope="row">{{trip.id}}</th>
                                                            <td>{{trip.routeStartTime | date:'dd/MM/yy hh:mm'}}</td>
                                                            <td>{{trip.timeDrivenInMinutes | number:'1.2-2' }} minutes</td>
                                                            <td>€{{trip.totalPrice | number:'1.2-2' }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" (click)="paymentBill(selectedModalBill.id.toString())"
                                                >Pay Bill</button>
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Billing overview per year -->
                                <div class="card-header" id="headingOne">
                                    <div class="card-header card-header-danger">
                                        <h4 class="card-title ">2022</h4>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr *ngFor="let bill of allBills; let x = index">
                                                            <td style="width:85%" *ngIf="bill.year == 2022">
                                                                {{bill.month}}
                                                            </td>
                                                            <td style="width:5%" *ngIf="bill.year == 2022">
                                                                €{{bill.totalPrice | number:'1.2-2'}}
                                                            </td>
                                                            <td style="width:10%" *ngIf="bill.year == 2022">
                                                                <button type="button" class="btn btn-light btn-sm"
                                                                    data-toggle="modal" data-target="#billingModal"
                                                                    (click)="onModalClick(bill)">
                                                                    See report
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
