<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Unpaid Invoices</p>
                      <h3 class="card-title">1/6
                          <small>Unpaid</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Pay now...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">travel_explore</i>
                      </div>
                      <p class="card-category">Countries Visited</p>
                      <h3 class="card-title">4</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last Year
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">123</i>
                      </div>
                      <p class="card-category">Kilometres Driven</p>
                      <h3 class="card-title">435</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> This Month
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">cyclone</i>
                      </div>
                      <p class="card-category">Cars Registered</p>
                      <h3 class="card-title">2</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> In Total
                      </div>
                  </div>
              </div>
          </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Kilometres driven</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 20% </span> increase in kilometres from yesterday.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> Updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Monthly Kilometres</h4>
                      <p class="card-category">Sorted per month</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> Updated 41 minutes ago
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Car Stats</h4>
                      <p class="card-category">Stats for every registered car</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Km Driven Total</th>
                              <th>APK Checked</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Nissan Leaf</td>
                                  <td>17.504</td>
                                  <td>Yes</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Opel Astra</td>
                                  <td>54.231</td>
                                  <td>Yes</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>-</td>
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>-</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
